-i https://pypi.org/simple
awsebcli==3.25
bcrypt==4.3.0; python_version >= '3.8'
blessed==1.21.0; python_version >= '2.7'
blinker==1.9.0; python_version >= '3.9'
botocore==1.39.3; python_version >= '3.9'
cement==2.10.14
certifi==2025.6.15; python_version >= '3.7'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.2; python_version >= '3.7'
click==8.2.1; python_version >= '3.10'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
cryptography==45.0.5; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
decorator==5.2.1; python_version >= '3.8'
deprecated==1.2.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
fabric==3.2.2
flask==3.1.1; python_version >= '3.9'
flask-login==0.6.3; python_version >= '3.7'
flask-sqlalchemy==3.1.1; python_version >= '3.8'
flask-wtf==1.2.2; python_version >= '3.9'
greenlet==3.2.3; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
invoke==2.2.0; python_version >= '3.6'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
markupsafe==3.0.2; python_version >= '3.9'
packaging==24.2; python_version >= '3.8'
paramiko==3.5.1; python_version >= '3.6'
pathspec==0.12.1; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pynacl==1.5.0; python_version >= '3.6'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.1.1; python_version >= '3.9'
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.4; python_version >= '3.8'
semantic-version==2.10.0; python_version >= '2.7'
setuptools==80.9.0; python_version >= '3.9'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlalchemy==2.0.41; python_version >= '3.7'
termcolor==2.5.0; python_version >= '3.9'
typing-extensions==4.14.1; python_version >= '3.9'
urllib3==1.26.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
wcwidth==0.2.13
werkzeug==3.1.3; python_version >= '3.9'
wrapt==1.17.2; python_version >= '3.8'
wtforms==3.2.1; python_version >= '3.9'
